.menu {
  height: 100vh;
  overflow-y: scroll;
  background-color: $c-primary;

  &__container {
    margin: 0 auto;
  }

  &__content {
    padding-top: 30px;
  }

  &__top-action {
    @extend %flex-col;
    padding-bottom: 48px;
  }
}
