.subscription-card {
  &__icon {
    height: 70px;
    width: 70px;
    margin: 0 auto 25px;
    @extend %flex-row-c;

    background-color: $c-secondary;
    border-radius: 10px;
  }

  &__title {
    font-weight: 400;
    color: $c-txt-light;
    text-align: center;
  }
}
