@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("../fonts/Mitr-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
