$c-primary: #fff;
$c-secondary: #2cd7cb;
$c-bg-about: #eefffe;
$c-bg-form: #ebf8f7;
$c-bg-footer: #c3ebe8;

$container-max-width: 1320px;
$container-padding: 30px;
$container-padding-mobile: 20px;

$media-tablet: 992px;
$media-mobile: 576px;
