$c-primary: #fff;
$c-secondary: #2cd7cb;
$c-bg-about: #eefffe;
$c-bg-form: #ebf8f7;
$c-bg-footer: #c3ebe8;
$c-txt-dark: #000;
$c-txt-light: #75787c;
$c-txt-light-2: #95989b;

$container-max-width: 1320px;
$container-padding: 30px;
$container-padding-mobile: 20px;

$media-tablet: 1024px;
$media-mobile: 576px;
